dy {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
}